[Unit]
Description=DNS Proxy
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/sbin/dnsproxy server
ExecReload=/bin/kill -USR2 "$MAINPID"
TimeoutSec=5000
Restart=on-failure

[Install]
WantedBy=multi-user.target
