[Unit]
Description=DNS Proxy
Documentation=https://github.com/dns-inspector/dnsproxy
After=syslog.target
After=network.target

[Service]
Type=notify
DynamicUser=true
ConfigurationDirectory=/etc/dnsproxy
LogsDirectory=/var/log/dnsproxy
ProtectSystem=strict
ExecStart=/usr/sbin/dnsproxy server
ExecReload=/bin/kill -USR2 "$MAINPID"
TimeoutSec=5000
Restart=on-failure
NotifyAccess=main
WatchdogSec=5
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
